<article class="row">
  <section class="display-question col-md-6">
    <%# display question %>
    <%= render "questions/question_display" %>
    <%# Create A Like  %>
    <div id="likes">
      <%= render "/likes/question_like" %>
    </div>
    <%# Favourite a Question %>
    <%= render "questions/favourite_unfavourite" %>
    <%# Edit or Destroy a Question %>
    <%= render "questions/edit_or_destroy_question" %>
    <%# VOTE for a QUESTION %>
    <% vote = @question.vote_for(current_user) %>
    <% if !vote %>
      <%= link_to "Vote Up", question_votes_path(@question, { vote: { up: true }}), method: :post %>
      <%= @question.vote_result %>
      <%= link_to "Vote Down", question_votes_path(@question, { vote: { up: false }}), method: :post %>
    <% elsif vote.up? %>
      <%= link_to "Remove Vote Up", question_vote_path(@question, vote), method: :delete  %>
      <%= @question.vote_result %>
      <%= link_to "Vote Down", question_vote_path(@question, vote, { vote: { up: false }}), method: :patch  %>
    <% else %>
      <%= link_to "Remove Vote Down", question_vote_path(@question, vote), method: :delete %>
      <%= @question.vote_result %>
      <%= link_to "Vote Up", question_vote_path(@question, vote, { vote: { up: true }}), method: :patch  %>
    <% end %>
  </section>

<!-- CREATE ANSWER FORM -->
  <div id = "answers-form">
    <%= render "/answers/form" %>
  </div>

</article>
<!-- LIST ANSWERS -->
<article class="row">
  <hr>
  <section class="list-answers col-md-6 col-md-offset-3">
    <h1 class = "text-lg-center title"><strong>Answers:</strong></h1>
    <div class="answers-loop">
    <% @question.answers.each do |ans| %>
      <%= render "answers/answer", answer: ans  %>
    <% end %>
    </div>
  </section>
</article>

<%# pass an array of parent resource and child resource to the form for. This is a better approach for creating nested resources. Works with both new and edit situations. So if an answer is not persisted, it will send POST request to question_answer_path and otherwise it will send PATCH request to _question_answer_path(@question, @answer) %>

<%# we could use this form after overiding the URL parameter - the downside is that it won't work for 'edit' situations. Only works in the create action. So it's not reusable if we decide to be able to edit an answer.  %>
<%# form_for @answer, url: question_answers_path(@question) do |f|  %>
<%#  %>
<%# end %>
