<h1>subscribe to our newsletter</h1>
<%# form tag is builtin rails view helper that enables us to generate a form. The first argument is the action attribute. You can provide method attr as well to do non-POST requests like POST PATCH DELETE %>
<%= form_tag subscribe_path, method: :post do %>

<div>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
</div>

<div>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
</div>

<%= submit_tag "Subscribe now!" %>
<% end %>
